// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// fonts
$monserrat: 'Montserrat';
$fraunces: 'Fraunces';

/// colors
$cream: #F2EAE2;
$pureWhite: #FFFFFF;
$aurometalSaurus:#6C7289;
$deepAquamarine:#3D8168;
$deepAquamarineHover:#1A4032;
$Gunmetal:#1C232B;

///max width containers
// $max_width_container_desktop: 632px;
// $max_width_container_mobile: 480px;

///breakpoint
$breakpoint-desktop-min: 632px;
$breakpoint-mobile-max: 631px;

// @media(min-width:$breakpoint-desktop-min){}
// @media(max-width:$breakpoint-mobile-max){}

// Common breakpoints are

// 320px — 480px for mobile devices,
// 481px — 768px for iPads & tablets,
// 769px — 1024px for small screens like laptop,
// 1025px — 1200px for large screens like Desktops,
// and 1201px and above for extra large screens like TV.







